body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  color: #CCC;
  background: #002b36;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
}

h1 {
  font-size: 2.5em;
  font-family: "Nixie One", Georgia, Times New Roman, serif;
}

a {
  color: #CB4B16;
}

a:hover {
  text-decoration: none;
}

section#container {
  width: 500px;
  margin: 0 auto;
  padding: 50px 0 0;
  text-align: center;
}

ul.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.links li {
  margin: 0;
  padding: 0 0 5px;
}

ul.secondary {
  display: none;
}