body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 22px;
  color: #CCC;
  background: #444 url(/img/wild_oliva.png) top left repeat-both;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
}

h1 {
  font-size: 2.5em;
  font-family: "Nixie One", Georgia, Times New Roman, serif;
}

a {
  color: #41BADF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#container {
  width: 750px;
  margin: 0 auto;
  padding: 50px 0 0;
}

footer {
  margin-top: 50px;
}

.links {
  font-size: 0.75em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.links li {
  margin: 0;
  padding: 0;
  float: left;
}
.links li:before {
  content: '\2014';
}
.links li:first-child:before {
  content: "";
}